<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить клиента</title>
</head>
<body>
   
   <nav>
        <a href="/addClient">Добавить клиента</a>
        <a href="/addAnimal">Добавить животное</a>
        <a href="/addAgrAnimal">Добавить сельскохозяйственное животное</a>
        <a href="/addWildAnimal">Добавить дикое животное</a>
        <a href="/delete">Удалить по ID</a>
    </nav>
    
    <form method="post">
        <label>Имя</label>
        <input type="text" name="name">
        <button type="submit">Добавить</button>
    </form>
    
</body>
</html>