<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Удалить</title>
</head>
<body>
  
  <nav>
        <a href="/addClient">Добавить клиента</a>
        <a href="/addAnimal">Добавить животное</a>
        <a href="/addAgrAnimal">Добавить сельскохозяйственное животное</a>
        <a href="/addWildAnimal">Добавить дикое животное</a>
        <a href="/delete">Удалить по ID</a>
    </nav>
   
   <h2>Удалить клиента по ID</h2>
    <form method="post">
        <input type="number" name="clientId">
    
    <h2>Удалить животное по ID</h2>
        <input type="number" name="animalId">
    
    <h2>Удалить сельскохозяйственное животное по ID</h2>
        <input type="number" name="agrAnimalId">
    
    <h2>Удалить дикое животное по ID</h2>
        <input type="number" name="wildAnimalId">
        <button type="submit">Найти</button>
    </form>
    
</body>
</html>